/* @group Misc */

.navbar {
  margin-top: 20px;
}

/* @end Misc */


/* @group Footer */

.footer {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;

  .links {
    padding: 20px 0;

   .fa {
      margin: 0 10px;
      font-size: 22px;
    }
  }
}

/* @end Footer */
